
/* Шрифты */
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../../../fonts/RobotoCondensed-Regular.eot');
	src: local('☺'), url('../../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../../fonts/RobotoCondensed-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans-Medium.eot');
	src: local('☺'), url('../fonts/FiraSans-Medium.woff') format('woff'), url('../fonts/FiraSans-Medium.ttf') format('truetype'), url('../fonts/FiraSans-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Стили по умолчанию*/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-synthesis: none;    
}

body {
    font-family: 'RobotoCondensed', Sans-Serif;
    font-size: 16px;
    line-height: 19px;
    color: #1B1818;   
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: #332208;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 18px;    
}

/* Logo */
.logo__img {
    display: block;
}

/* topnav */
.topnav__link {
    color: #FEFEFE;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom .3s linear;
}

.topnav__link + .topnav__link {
    margin-left: 30px;
}

.topnav__link:hover {
    border-bottom: 1px solid #FEFEFE;
}

/* tel */
.tel {
    color: #FEFEFE;
    text-transform: uppercase;
}

/* Intro */
.intro {
    margin-bottom: 100px;
}

.intro__top {
    display: flex;
    padding-top: 50px;
}


/* Intro desc */
.intro__desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 90px 0 75px;   
    align-items: center;
}

.intro__title {
    font-family: 'FiraSans', Sans-Serif;
    color: #1B1818;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
}

.intro__text {
    font-size: 24px;
    line-height: 28px; 
    margin-bottom: 60px;
}

/* applink button */
.applink {
    display: block;
    background-color: #C5AC2D;
    color: #FEFEFE;
    font-size: 16px;
    line-height: 19px; 
    text-transform: uppercase;   
    padding: 16px;
    width: 200px;   
    border: 1px solid transparent;
    transition: all .3s linear;
}
.applink:hover {
    background-color: #FEFEFE;
    color: #C5AC2D;
    border: 1px solid #C5AC2D;
}

/* slider */
.slider {
    width: 50%;
}
.slider__text {
    font-family: 'FiraSans', Sans-Serif;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    margin-right: 100px;
    color: #1B1818;    
}

.slider__text span + span {
    margin-left: 15px;
}

/* Slick */
.slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.slick-dots button {
    width: 8px;
    height: 8px;
    font-size: 0;
    border: none;
    outline: none;
    background: #332208;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s linear;
}

.slick-active button {
    transform: scale(2);
}

.slick-active, 
.slider__item {
    outline: none;
}

/* intro__bottom */
.intro__bottom {
    display: flex;
}

/* features */
.features {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.features__item {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid #332208;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    transition: transform .3s linear;
    cursor: default;
}

.features__item:hover {
    transform: scale(1.25);
}

.features__text {
    font-family: 'RobotoCondensed', Sans-Serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1B1818;    
}

/* intro__links */
.intro__links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    padding-right: 80px;
}

.intro__link {
    font-family: 'RobotoCondensed', Sans-Serif;
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #1B1818;
    padding-bottom: 5px;
    transition: border-bottom .3s linear;
}

.intro__link + .intro__link {
    margin-left: 20px;
}

.intro__link:hover {
    border-bottom: 1px solid transparent;
}

/* rent */
.rent {
    padding: 100px 0;
}

.rent__inner {
    display: flex;
    justify-content: space-between;
}

.rent__terms {
    max-width: 296px;
    min-height: 350px;
}

/* rent__terms */
.rent__title {
    font-family: 'FiraSans';
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.rent__text {
    font-family: 'RobotoCondensed';
    font-size: 16px;
    line-height: 19px;    
    margin-bottom: 20px;
}

.rent__text:last-of-type {
    margin-bottom: 40px;
}

/* rent__item */
.rent__item {
    width: 250px;
    min-height: 350px;
    padding: 0 35px 20px;
    border: 1px solid #332208;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rent__item-num {
    font-family: 'FiraSans';
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    opacity: 0.05;    
}

.rent__item-title {
    font-family: 'FiraSans';
    font-size: 18px;
    line-height: 22px;
    text-align: center;  
}

.rent__item-text {
    font-family: 'RobotoCondensed';
    font-size: 16px;
    text-align: center;
    color: #1B1818; 
    max-width: 172px;
    margin: 0 auto;   
}

/* benefits */
.benefits {
    padding: 100px 0;
}

.benefits__inner {
    display: flex;
    justify-content: space-between;
}

.benefits__desc {
    width: 100%;
    max-width: 300px;
    flex-shrink: 0;    
}

.benefits__title {
    font-family: 'FiraSans';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1B1818;
    margin-bottom: 45px;    
}

.benefits__list {
    font-family: 'RobotoCondensed', Sans-Serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;   
    margin-bottom: 75px; 
}
.benefits__item {
    margin-bottom: 27px;
    text-align: right;
    padding-right: 30px;
    position: relative;
}

.benefits__item::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #332208;
} 

.benefits__item:nth-child(1), 
.benefits__item:nth-child(7) {
    margin-right: 10px;
}

.benefits__item:nth-child(2), 
.benefits__item:nth-child(6) {
    margin-right: 60px;
}

.benefits__item:nth-child(3), 
.benefits__item:nth-child(5) {
    margin-right: 110px;
}

.benefits__item:nth-child(4) {
    margin-right: 160px;
}

/* benefits__banner */
.benefits__banner {
    /* display: block; */
}

/* benefits__text */
.benefits__text {
    width: 100%;
    max-width: 300px;
    flex-shrink: 0;
    padding-top: 90px;    
}

.benefits__text-item {
    color: #1B1818; 
    text-align: right; 
    margin-bottom: 30px;  
    min-width: 275px;    
}

/* button-pres */
.button-pres {
    display: block;
    background-color: #C5AC2D;
    color: #FEFEFE;
    font-size: 16px;
    line-height: 19px; 
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;   
    padding: 6px 16px;
    width: 200px;   
    border: 1px solid transparent;
    transition: all .3s linear;  
    float: right;  
    padding-left: 64px;
    position: relative;
}

.button-pres-icon {
    fill: #FEFEFE;
    width: 26px;
    height: 26px;
    transition: fill .3s linear;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translate(0, -50%);
}

.button-pres:hover {
    background-color: #FEFEFE;
    color: #C5AC2D;
    border: 1px solid #C5AC2D;
}

.button-pres:hover .button-pres-icon {
    fill: #C5AC2D;
}

/* reviews */
.reviews {
    padding: 100px 0;
    background-color: #332208;
}

.reviews__title {
    font-family: 'FiraSans';
    font-size: 24px;
    line-height: 29px; 
    color: #FEFEFE;    
}

.reviews__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
    padding: 45px 30px;
    width: 270px;
    border: 1px solid #C5AC2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.reivews__name {
    font-family: 'FiraSans';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FEFEFE;
    margin-bottom: 30px;
}

.reviews__text {
    font-family: 'RobotoCondensed';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FEFEFE;
    max-width: 209px;    
}